<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Blog posting website" />
    <meta name="author" content="Prabdeep Dhaliwal" />
    <title>@ViewData["Title"] | BlogSimple</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico.png" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <!-- FA -->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Responsive navbar-->
    @await Component.InvokeAsync("Navigation")

    <!-- Page header with logo and tagline-->
    @await Component.InvokeAsync("Header")

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
      <!-- Footer-->
      @await Component.InvokeAsync("Footer")

    <script src="~/js/scripts.js" asp-append-version="true"></script>
</body>
</html>
