<!DOCTYPE html>
<html lang="en">

<partial name="_DashboardHead" />

<body>
    <!-- Responsive navbar-->
    @await Component.InvokeAsync("Navigation")
    <main class="container">
        @RenderBody()
    </main>

    </main>

    <div class="loader"></div>
    <!-- Footer-->
    @await Component.InvokeAsync("Footer")

    
    <partial name="_DashboardScripts" />
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script src="~/js/loader.js" asp-append-version="true"></script>
    
</body>
</html>
