<!DOCTYPE html>
<html lang="en">

<partial name="_DashboardHead" />

<body>
    <!-- Responsive navbar-->
    @await Component.InvokeAsync("Navigation")
    <main class="container">
        @RenderBody()
    </main>

    </main>

    <div class="loader"></div>
    <!-- Footer-->
    @await Component.InvokeAsync("Footer")

    
    <partial name="_DashboardScripts" />
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script src="~/js/loader.js" asp-append-version="true"></script>

    <!-- Core theme JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
</body>
</html>
