<!DOCTYPE html>
<html lang="en">

<partial name="_DashboardHead" />

<body>
    <!-- Responsive navbar-->
    @await Component.InvokeAsync("Navigation")

    <main class="container">
        @RenderBody()
        <!-- Footer-->
        @await Component.InvokeAsync("Footer")
    </main>


    
    <partial name="_DashboardScripts" />
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/scripts.js" asp-append-version="true"></script>
    
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.nemyE/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
</body>
</html>
