@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">

<partial name="_DashboardHead" />

<body class="sb-nav-fixed">
    <!-- Responsive navbar-->
    @await Component.InvokeAsync("AdminTopNav")

    <div id="layoutSidenav">
        <!-- Profile Side Nav-->
        <div id="layoutSidenav_nav">
            @await Component.InvokeAsync("ProfileSideNav");
        </div>
        <div id="layoutSidenav_content">
            <main>
                @RenderBody()
            </main>
            <!-- Footer-->
            @await Component.InvokeAsync("Footer")
        </div>
    </div>


    <partial name="_DashboardScripts" />
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script src="~/js/admin-side-navbar.js" asp-append-version="true"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.nemyE/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
</body>
</html>
