@model BlogSimple.Model.ViewModels.AccountViewModels.ChangePasswordViewModel;

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Account/_DashboardAccountLayout.cshtml";
}

<div class="m-5">
    <h1 class="text-left">Change Password</h1>

    <br />
    <br />
    <div>
        <div class="text-left mt-5">
            <h4>Change Your Password</h4>
            <hr />
            <div>
                @if (Model.PasswordChanged == true)
                {
                    <div class="alert alert-success">
                        Password has been updated successfully!
                    </div>
                }
                <form asp-action="ChangePassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger validation-summary"></div>
                    <p>
                        If you feel that your password is insecure. <br>
                        Feel free to change your password down below now!
                    </p>

                    <div class="form-floating mb-3">
                        <input asp-for="CurrentPassword" class="form-control" />
                        <label asp-for="CurrentPassword" class="text-black"></label>
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="NewPassword" class="form-control" />
                        <label asp-for="NewPassword" class="text-black"></label>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="ConfirmNewPassword" class="form-control" />
                        <label asp-for="ConfirmNewPassword" class="text-black"></label>
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input id="formSubmitBtn" type="submit" value="Change Password" class="hero-btn">
                    </div>
                </form>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>



<script>
    const formSubmitBtn = document.querySelector('#formSubmitBtn');

    formSubmitBtn.addEventListener('click', (e) => {
        setTimeout(() => {
            formSubmitBtn.disabled = true;
            formSubmitBtn.value = "Loading...";
        }, 50);
    });
</script>
