@model BlogSimple.Model.ViewModels.AccountViewModels.ForgotPasswordViewModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Forgot Password";
}


<div class="account-layout">
    <div class="col-lg-5">
        <div class="account-container">
            <div class="account-header">
                <h3>Forgot Password</h3>
            </div>
            <div class="account-body-forgot-password">
                @if (Model?.EmailSent == true)
                {
                    <div class="alert alert-success" role="alert">
                        <p>
                            If you are registered with us, <br />
                            we have sent an email to your registered email id.
                        </p>
                    </div>
                }
                else
                {
                    <p>Forgot your password? No worries, you can reset it now.</p>
                    <form asp-action="ForgotPassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" />
                            <label asp-for="Email" class="text-black"></label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="account-footer">
                            <input id="formSubmitBtn" type="submit" value="Send Email" style="width:unset;">
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>



<script>
    const formSubmitBtn = document.querySelector('#formSubmitBtn');

    formSubmitBtn.addEventListener('click', (e) => {
        setTimeout(() => {
            formSubmitBtn.disabled = true;
            formSubmitBtn.value = "Loading...";
        }, 50);
    });
</script>
