@model BlogSimple.Model.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}


<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main class="account-layout">
            <div class="col-lg-5">
                <div class="account-container">
                    <div class="account-header">
                        <h3>Welcome to Blog Simple!</h3>
                    </div>
                    <div class="account-body">
                        <form asp-action="Login">
                            <div asp-validation-summary="ModelOnly" class="text-danger validation-summary"></div>

                            <div class="form-floating mb-3">
                                <input asp-for="UserName" class="form-control" />
                                <label asp-for="UserName">Username</label>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Password" class="form-control" type="password" />
                                <label asp-for="Password"></label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="d-flex mb-3">
                                <a class="small" asp-controller="Account" asp-action="ForgotPassword">Forgot your password?</a>
                            </div>
                            <div class="account-footer">
                                <input id="formSubmitBtn" type="submit" value="Login">
                                <div class="my-2 font-weight-bold">OR</div>
                                <div class="small"><a href="/Account/Register">Need an account? Sign up!</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


<script>
    const formSubmitBtn = document.querySelector('#formSubmitBtn');

    formSubmitBtn.addEventListener('click', (e) => {
        setTimeout(() => {
            formSubmitBtn.disabled = true;
            formSubmitBtn.value = "Loading...";
        }, 50);
    });
</script>
