@model BlogSimple.Model.Models.User

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}


<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main class="account-layout"> 
            <div class="col-lg-7">
                <div class="account-container">
                    <div class="account-header">
                        <h3>Create an Account</h3>
                    </div>
                    <div class="account-body">
                        @if (ViewBag.Message != null)
                        {
                            <div class="p-1 mb-2 bg-success text-white">@ViewBag.Message</div>
                        }
                        <form asp-action="Register" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger validation-summary"></div>

                            <div class="account-row mb-3">
                                <div class="account-input-row-container">
                                    <div class="account-input-row-container form-floating mb-3 mb-md-0">
                                        <input asp-for="FirstName" class="form-control" type="text" />
                                        <label asp-for="FirstName">First Name</label>
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="account-input-row-container">
                                    <div class="account-input-row-container form-floating">
                                        <input asp-for="LastName" class="form-control" type="text" />
                                        <label asp-for="LastName">Last Name</label>
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="UserName" class="form-control" />
                                <label asp-for="UserName">Username</label>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Email" class="form-control" />
                                <label asp-for="Email"></label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="account-row  mb-3">
                                <div class="account-input-row-container">
                                    <div class="account-input-row-container form-floating mb-3 mb-md-0">
                                        <input asp-for="Password" class="form-control" />
                                        <label asp-for="Password"></label>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="account-input-row-container">
                                    <div class="account-input-row-container form-floating mb-3 mb-md-0">
                                        <input asp-for="ConfirmPassword" class="form-control" />
                                        <label asp-for="ConfirmPassword">Confirm Password</label>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProfilePictureInput">Profile Picture</label>
                                <div class="form-floating mb-3">
                                    <div>
                                        <input asp-for="ProfilePictureInput" class="form-control account-input" accept="image/*" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="account-footer">
                                <input id="formSubmitBtn" type="submit" value="Register" />
                                <div class="my-2 font-weight-bold">OR</div>
                                <div class="small"><a href="/Account/Login">Have an account? Go to login</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


<script>
    const formSubmitBtn = document.querySelector('#formSubmitBtn');

    formSubmitBtn.addEventListener('click', (e) => {
        setTimeout(() => {
            formSubmitBtn.disabled = true;
            formSubmitBtn.value = "Loading...";
        }, 50);
    });
</script>