@using BlogSimple.Model.ViewModels.AccountViewModels;
@model AuthorViewModel;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Update Bio";
    Layout = "~/Views/Post/_DashboardLayoutAuthor.cshtml";
}


<!-- Page content-->
<div class="m-5">
<h1 class="text-left">Update Bio</h1>

<h4 class="text-left">My Bio</h4>
<hr />
    <div class="text-left">
        <!-- Post content-->
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1"></h1>
                <!-- Post categories-->
                <div id="categoryBadgeContainer">
                </div>
            </header>
            <!-- Preview image figure-->
            @*<figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>*@
            <!-- Post content-->
            <section class="mb-5">
                <div class="card-body">
                    @if (ViewBag.Message != null)
                    {
                        <div class="p-1 mb-2 bg-success text-white">@ViewBag.Message</div>
                    }
                    <form asp-controller="Account" asp-action="UpdateAuthor" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger validation-summary"></div>

                        @*<div class="form-group">
                            <label asp-for="AccountUser.HeaderImageInput">Cover Image</label>
                            <div class="form-floating mb-3">
                                <div>
                                    <input asp-for="AccountUser.HeaderImageInput" class="form-control" accept="image/*" />
                                </div>
                            </div>
                        </div>
                        <br />*@

                        Links
                        <div class="form-floating mb-3">
                            <input asp-for="AccountUser.PortfolioLink" class="form-control" />
                            <label asp-for="AccountUser.PortfolioLink"></label>
                            <span asp-validation-for="AccountUser.PortfolioLink" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="AccountUser.TwitterLink" class="form-control" />
                            <label asp-for="AccountUser.TwitterLink"></label>
                            <span asp-validation-for="AccountUser.TwitterLink" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="AccountUser.GitHubLink" class="form-control" />
                            <label asp-for="AccountUser.GitHubLink"></label>
                            <span asp-validation-for="AccountUser.GitHubLink" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="AccountUser.LinkedInLink" class="form-control" />
                            <label asp-for="AccountUser.LinkedInLink"></label>
                            <span asp-validation-for="AccountUser.LinkedInLink" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-floating mb-3">
                            <input asp-for="AccountUser.Heading" class="form-control" type="text" />
                            <label asp-for="AccountUser.Heading">Heading</label>
                            <span asp-validation-for="AccountUser.Heading" class="text-danger"></span>
                        </div>
                        <br />

                        Content: <i>Introduce yourself and talk about your background!</i>
                        <br />
                        <div class="form-floating mb-3">
                            <textarea asp-for="AccountUser.Bio" id="myEditor" class="form-control" type="text"></textarea>
                            <span asp-validation-for="AccountUser.Bio" class="text-danger"></span>
                        </div>
                        <div class="mt-4 mb-0">
                            <input id="formSubmitBtn" type="submit" value="Update" class="hero-btn" />
                        </div>
                    </form>
                </div>
            </section>
        </article>
    </div>
</div>



<script>
    const formSubmitBtn = document.querySelector('#formSubmitBtn');

    formSubmitBtn.addEventListener('click', (e) => {
        setTimeout(() => {
            formSubmitBtn.disabled = true;
            formSubmitBtn.value = "Loading...";
        }, 50);
    });
</script>
