@using BlogSimple.Model.ViewModels.BlogViewModels;
@model EditBlogViewModel;

@{
    ViewData["Title"] = "Edit " + Model.Blog.Title;
    Layout = "~/Views/Blog/_DashboardLayoutEditor.cshtml";
}

<h1 class="text-left">Update Blog</h1>

<h4 class="text-left">My Blog</h4>
<hr />
<div class="row">
    <div class="text-left">
        <form asp-action="EditBlog" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Blog.Id" readonly hidden />
            <div class="form-group">
                <label asp-for="Blog.Title" class="control-label"></label>
                <input asp-for="Blog.Title" class="form-control" />
                <span asp-validation-for="Blog.Title" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="HeaderImage"></label>
                <div class="custom-file">
                    <input asp-for="HeaderImage" class="form-control" accept="image/*" />
                    <label class="custom-file-label text-left">Choose file</label>
                </div>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="Blog.Category" class="control-label"></label>
                <select asp-for="Blog.Category"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<BlogCategory>()">
                    <option>-- Select Category --</option>
                </select>
                <span asp-validation-for="Blog.Category" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="Blog.Description" class="control-label"></label>
                <input asp-for="Blog.Description" class="form-control" />
                <span asp-validation-for="Blog.Description" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="Blog.Content" class="control-label"></label>
                <textarea asp-for="Blog.Content" id="myEditor" class="form-control"></textarea>
                <span asp-validation-for="Blog.Content" class="text-danger"></span>
            </div>

            <br />
            <div class="card-footer">
                <div class="form-group">
                    <div class="text-muted">Publish now or save for later edits.</div>
                    <label>Publish now?</label>
                    <input asp-for="Blog.IsPublished" type="checkbox" data-toggle="toggle" />
                </div>
            </div>
            <br />
            <input class="btn btn-primary" type="submit" value="Update" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
