@using BlogSimple.Model.ViewModels.BlogViewModels;
@model DashboardIndexViewModel;

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Blog/_DashboardLayoutIndex.cshtml";
}


<main>
    @foreach (var blog in Model.UserBlogs)
    {
        <div hidden class="blogsData" value='@Html.Raw(Json.Serialize(blog))'></div>
    }
    <div hidden id="blogCategoryData" value='@Html.Raw(Json.Serialize(Enum.GetValues(typeof(BlogCategory))))'></div>


    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">My Blogs</li>
        </ol>
        <div class="row">
            <!-- Blog entries-->
            <div class="row" id="blogsDisplayContainer">

            </div>
            <!-- Pagination-->
            <nav aria-label="Pagination" id="paginationNavContainer">

            </nav>
        </div>
    </div>
</main>

