@using BlogSimple.Model.ViewModels.HomeViewModels;
@model DashboardIndexViewModel;

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Blog/_DashboardLayout.cshtml";
}


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">My Blogs</li>
        </ol>
        <div class="row">
            @foreach (Blog blog in Model.Blogs)
            {
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="/Dashboard/Details/@blog.Id"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <h2 class="card-title h4"><a href="/Home/Details/@blog.Id">@blog.Title</a></h2>
                            <div class="small text-muted">Last Updated on @blog.CreatedOn.ToString("MMM d, yyyy") by @blog.CreatedBy.UserName</div>
                            <p class="card-text">@blog.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>

