
<header>
    <div class="hero">
        <div class="container">
            <h1 class="fw-bolder">Welcome to Blog Simple!</h1>
            <p class="lead mb-0">Where making blogs is made simple!</p>
            <br />
            @if (User.Identity.IsAuthenticated)
            {
                <a class="hero-btn" href="/Post/CreatePost">Create Post</a>
            }
            else
            {
                <a class="hero-btn" href="/Account/Register">Sign Up Now</a>
            }
        </div>
    </div>
</header>