<header class="py-5 bg-light border-bottom mb-4 hero-image">
    <div class="container">
        <div class="text-center my-5 hero-text">
            <h1 class="fw-bolder">Welcome to Blog Simple!</h1>
            <p class="lead mb-0">Where making blogs is made simple!</p>
        </div>
    </div>
</header>