

/* STYLING */
/* STYLING */
/* STYLING */


.account-layout {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    margin-top: 5%;
}

.account-container {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    background-color: #EAD7BB;
}

.account-header {
    padding: 10px;
}

    .account-header h3 {
    }

.account-body {
    padding: 10px;
}

.account-footer {
}

    .account-footer a {
        text-decoration: none;
    }

    .account-footer input {
        width: 100px;
        padding: 8px 16px;
        border-radius: 5px;
        background-color: #BCA37F;
        border: none;
        transition: all 50ms ease-in-out;
    }


        .account-footer input:hover {
        }


.account-btn {
    color: white;
}

    .account-btn:hover {
        color: #FFF2D8;
    }

.dashboard-header-text {
    color: white;
}

.dash-nav-link {
    display: flex;
    font-size: 1rem;
    line-height: 3rem;
    margin: 10px 0px 10px 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    gap: 10px;
}

    .dash-nav-link:hover {
        color: #FFF2D8;
    }
