

/* FEATURED STYLING */
/* FEATURED STYLING */
/* FEATURED STYLING */

.featured-post-card {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 50px;
}

.featured-post-card-img {
    width: 100%;
    height: 500px;
}

.featured-post-card-body {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
}

.featured-post-card-body-title { 
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.featured-post-card-body-title a {
    text-decoration: none;
}

.featured-post-card-body-description {
    margin-bottom: 20px;
}

.featured-post-card-body-details {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 5px;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.featured-post-card-body-details span {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 5px;
    align-content: center;
    align-items: center;
}

.featured-post-card-body-details span span a {
    text-decoration: none;
}


/* POST STYLING */
/* POST STYLING */
/* POST STYLING */
.post-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
}

.post-card {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.post-card-img {
    width: 100%;
    height: 300px;
}

.post-card-body {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
}

.post-card-body-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    height: 55px;
}

.post-card-body-title a {
    text-decoration: none;
}

.post-card-body-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    align-content: center;
    align-items: center;
}

.post-card-body-details span {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: center;
    align-items: center;
}

.post-card-body-details span span a {
    text-decoration: none;
}

.post-creator-img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}


/* STANDARD STYLING */
/* STANDARD STYLING */
/* STANDARD STYLING */
.standard-card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.standard-card-header {
    padding: 8px 16px;
    border-bottom: 1px solid rgb(0,0,0,0.2);
    margin-bottom: 10px;
    background-color: #e8e8e8;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0px 25px 50px -12px;
}

.standard-card-body {
    padding: 8px 16px;
}

.standard-card-body a {
    text-decoration: none;
}

.standard-card-body div ul li {
    margin: 5px 0;
}



/* DASHBOARD POST STYLING */
/* DASHBOARD POST STYLING */
/* DASHBOARD POST STYLING */

.dashbboard-post-container {
    display: flex;
    justify-content: start;
    gap: 20px;
    flex-wrap: wrap;
}



/* POST WIDGET STYLING */
/* POST WIDGET STYLING */
/* POST WIDGET STYLING */


.post-widget-container {
}


.post-widget-body {
    text-align: left;
}

.post-widget-body h5 {
    margin-bottom: 20px;
}


img.author-profile-pic-widget {
    height: 75px;
    width: 75px;
}





.ck-editor__editable_inline {
    height: 100%;
    min-height: 500px;
    width: 100%;
}