html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


a {
    cursor: pointer;
}

.comment-textarea {
    width: 100%;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    resize: none;
    overflow: hidden;
    transition: 200ms;
}

textarea.comment-textarea:focus {
    border-bottom: 2px solid #000000;
}

.reply-comment-btns-container {
    display: flex;
    /*justify-content: flex-end;*/
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.font-weight-bold {
    font-weight: 700;
}

.banner-tag {
    width: 150px;
    height: 45px;
    position: absolute;
    top: 5%;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
}

.banner-tag div {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 5px;
}

.html {
    background-color: #ff6a00;
}

.css {
    background-color: #258cfb;
}

.js {
    background-color: #ffd800;
}

.cs {
    background-color: #b200ff;
}

.oop {
    background-color: #4800ff;
}

.web-design {
    background-color: #00ff21;
}

.tutorials {
    background-color: #808080
}

.freebies {
    background-color: #ff0000;
}

.other {
    background-color: #000000;
}


.comment-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.comment-content-container {
    width: 100%;
    flex-grow: 100;
}

.cmt {
    flex-grow: 1;
}

.write-comment-container {
    display: flex;
}

.create-comment-form {
    width: 100%;
    margin-left: 10px;
}

.create-comment-buttons {
    display: flex;
    justify-content: flex-end;
}

.create-comment-buttons > button {
    margin-left: 5px;
}

.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    z-index: 2;
    background-color: white;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

.menu-icon {
    cursor: pointer;
}

.block {
    display: block;
}

.inline {
    display: inline-block;
}

.hide {
    display: none;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}