html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: 'Roboto', sans-serif !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

nav, footer {
  background-color: #113946 !important;
}

form {
  max-width: 1000px;
}

a {
    cursor: pointer;
}

.text-left {
  text-align: left;
}

.validation-summary ul li {
    list-style: none;
}

.myprofile-img-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
}

.myaccount-user-profile-img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.user-profile-img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.comment-content-container {
    margin: 0 0 15px 15px;
}

.comment-display-editform-dropdown-container {
    display: flex;
    justify-content: space-between;
}

.comment-name-date {
    display: flex;
}

.comment-date {
    margin-left: 5px;
    font-style: italic;
}

.comment-textarea {
    width: 100%;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    resize: none;
    overflow: hidden;
    transition: 200ms;
}

.comment-edit-display-section {
    display: none;
}

.reply-edit-display-section {
    display: none;
}

.comment-display-section {
    text-align: left
}

.reply-display-section {
    text-align: left;
    margin-left: 20px;
}

textarea.comment-textarea:focus {
    border-bottom: 2px solid #000000;
}

.reply-comment-btns-container {
    display: flex;
    height: 35px;
    /*justify-content: flex-end;*/
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.font-weight-bold {
    font-weight: 700;
}

.banner-tag {
    width: 175px;
    height: 45px;
    position: absolute;
    top: 5%;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
}

.banner-tag div {
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    margin-left: 5px;
}

.programming {
    background-color: #ff6a00;
}

.game-development {
    background-color: #258cfb;
}

.web-development {
    background-color: #ffd800;
}

.general-tutorials {
    background-color: #b200ff;
}

.oop {
    background-color: #4800ff;
}

.web-design {
    background-color: #00ff21;
}

.tutorials {
    background-color: #808080
}

.financial {
    background-color: #ff0000;
}

.other {
    background-color: #000000;
}

.bg-dark-light {
    background-color: #343a40 !important;
}

.dashboard-light-icon {
    color: rgba(255, 255, 255, 0.5) !important;
}

/* The hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/blog-simple-hero-image.jpg");
    /* Set a specific height */
    height: 50%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.comment-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.comment-content-container {
    width: 100%;
    flex-grow: 100;
}

.svgButton {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 50%;
}

  .svgButton:hover {
    background-color: #FFF2D8;
  }

.replyBtn {
    border-radius: 50%;
    font-weight: 800;
}

.replyBtn:hover {
    background-color: #FFF2D8;
}

.cmt {
    flex-grow: 1;
}

.write-comment-container {
    display: flex;
}

.write-reply-container {
    display: none;
}

.create-comment-form {
    width: 100%;
    margin-left: 10px;
}

.create-comment-buttons {
    display: none;
    justify-content: flex-end;
}

.create-comment-btn {
    padding: 5px 9px;
    outline: none;
    border: none;
    color: black;
    margin-left: 5px;
    background-color: #BCA37F;
    border-radius: 5px;
    transition: all 50ms ease-in-out;
}

input[type=file]::file-selector-button {
  outline: none;
  border: none;
  color: black;
  background-color: #EAD7BB;
  cursor: pointer;
  transition: all 50ms ease-in-out;
}

input[type=file].account-input::file-selector-button {
  outline: none;
  border: none;
  color: white;
  background-color: #113946;
  cursor: pointer;
  transition: all 50ms ease-in-out;
}

input[type=file].account-input::file-selector-button:hover {
  background-color: #EAD7BB;
}

input[type=file]::file-selector-button:hover {
  background-color: #BCA37F;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #EAD7BB;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #BCA37F;
}
/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #113946;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

  a.create-comment-btn {
    padding: 6px 9px;
    background-color: white;
    text-decoration: none;
    color: black;
    background-color: #BCA37F;
    border-radius: 5px;
    transition: all 50ms ease-in-out;
  }

  .create-comment-btn:hover, a.create-comment-btn:hover {
    background-color: #EAD7BB;
  }

.create-reply-buttons {
    display: flex;
    justify-content: flex-end;
}

.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    z-index: 2;
    background-color: white;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

.menu-icon {
    cursor: pointer;
}

.block {
    display: block;
}

.inline {
    display: inline-block;
}

.hide {
    display: none;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


button:hover {
    opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
    float: left;
    width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
    background-color: #ccc;
    color: black;
}

/* Add a color to the delete button */
.deletebtn {
    background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
    padding: 16px;
    text-align: center;
}

/* The Modal (background) */
.delete-comment-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
    margin-top: 56px; /* 5% from the top, 15% from the bottom and centered */
}

/* The Modal (background) */
.delete-reply-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
    margin-top: 56px; /* 5% from the top, 15% from the bottom and centered */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

    .close:hover,
    .close:focus {
        color: #f44336;
        cursor: pointer;
    }

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



.hero-btn {
  padding: 10px 16px;
  outline: none;
  border: none;
  color: black;
  background-color: #BCA37F;
  border-radius: 5px;
  transition: all 50ms ease-in-out;
}

a.hero-btn {
  padding: 11px 16px;
  background-color: white;
  text-decoration: none;
  color: black;
  background-color: #BCA37F;
  border-radius: 5px;
  transition: all 50ms ease-in-out;
}

  .hero-btn:hover, a.hero-btn:hover {
    background-color: #EAD7BB;
  }


/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
        width: 100%;
    }
}

