html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


a {
    cursor: pointer;
}

.comment-content-container {
    margin: 0 0 15px 15px;
}

.comment-display-editform-dropdown-container {
    display: flex;
    justify-content: space-between;
}

.comment-name-date {
    display: flex;
}

.comment-date {
    margin-left: 5px;
}

.comment-textarea {
    width: 100%;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    resize: none;
    overflow: hidden;
    transition: 200ms;
}

.comment-edit-display-section {
    display: none;
}

.reply-edit-display-section {
    display: none;
}

.comment-display-section {
    text-align: left
}

.reply-display-section {
    text-align: left;
    margin-left: 20px;
}

textarea.comment-textarea:focus {
    border-bottom: 2px solid #000000;
}

.reply-comment-btns-container {
    display: flex;
    /*justify-content: flex-end;*/
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.font-weight-bold {
    font-weight: 700;
}

.banner-tag {
    width: 150px;
    height: 45px;
    position: absolute;
    top: 5%;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
}

.banner-tag div {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 5px;
}

.html {
    background-color: #ff6a00;
}

.css {
    background-color: #258cfb;
}

.js {
    background-color: #ffd800;
}

.cs {
    background-color: #b200ff;
}

.oop {
    background-color: #4800ff;
}

.web-design {
    background-color: #00ff21;
}

.tutorials {
    background-color: #808080
}

.freebies {
    background-color: #ff0000;
}

.other {
    background-color: #000000;
}


.comment-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.comment-content-container {
    width: 100%;
    flex-grow: 100;
}

.cmt {
    flex-grow: 1;
}

.write-comment-container {
    display: flex;
}

.write-reply-container {
    display: none;
}

.create-comment-form {
    width: 100%;
    margin-left: 10px;
}

.create-comment-buttons {
    display: none;
    justify-content: flex-end;
}

.create-reply-buttons {
    display: flex;
    justify-content: flex-end;
}

.create-comment-buttons > button {
    margin-left: 5px;
}

.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    z-index: 2;
    background-color: white;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

.menu-icon {
    cursor: pointer;
}

.block {
    display: block;
}

.inline {
    display: inline-block;
}

.hide {
    display: none;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


button:hover {
    opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
    float: left;
    width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
    background-color: #ccc;
    color: black;
}

/* Add a color to the delete button */
.deletebtn {
    background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
    padding: 16px;
    text-align: center;
}

/* The Modal (background) */
.delete-comment-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
    margin-top: 56px; /* 5% from the top, 15% from the bottom and centered */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

    .close:hover,
    .close:focus {
        color: #f44336;
        cursor: pointer;
    }

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
        width: 100%;
    }
}