@using BlogSimple.Model.ViewModels.PostViewModels;
@model EditPostViewModel;

@{
    ViewData["Title"] = "Edit " + Model.Post.Title;
    Layout = "~/Views/Post/_DashboardLayoutIndex.cshtml";
}

<div class="m-5">
    <h1 class="text-left">Update Post</h1>

    <h4 class="text-left">My Post</h4>
    <hr />
    <div class="text-left">
        <form asp-action="EditPost" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger validation-summary"></div>
            <input asp-for="Post.Id" readonly hidden />
            <div class="form-group">
                <label asp-for="Post.Title" class="control-label"></label>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="HeaderImage"></label>
                <div class="custom-file">
                    <input asp-for="HeaderImage" class="form-control" accept="image/*" />
                    <label class="custom-file-label text-left">Choose file</label>
                </div>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="Post.Category" class="control-label"></label>
                <select asp-for="Post.Category"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<PostCategory>()">
                    <option>-- Select Category --</option>
                </select>
                <span asp-validation-for="Post.Category" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="Post.Description" class="control-label"></label>
                <input asp-for="Post.Description" class="form-control" />
                <span asp-validation-for="Post.Description" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="Post.Content" class="control-label"></label>
                <textarea asp-for="Post.Content" id="myEditor" class="form-control"></textarea>
                <span asp-validation-for="Post.Content" class="text-danger"></span>
            </div>

            <br />
            <div class="card-footer">
                <div class="form-group">
                    <div class="text-muted">Publish now or save for later edits.</div>
                    <label>Publish now?</label>
                    <input asp-for="Post.IsPublished" type="checkbox" data-toggle="toggle" />
                </div>
            </div>
            <br />
            <input class="btn btn-primary" type="submit" value="Update" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
