@using BlogSimple.Model.ViewModels.PostViewModels;
@model EditPostViewModel;

@{
    ViewData["Title"] = "Edit " + Model.Post.Title;
    Layout = "~/Views/Post/_PostFormLayout.cshtml";
}

<div class="m-5">
    <h1 class="text-left">Update Post</h1>

    <h4 class="text-left">My Post</h4>
    <hr />
    <div class="text-left">
        <form asp-action="EditPost" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger validation-summary"></div>
            <input asp-for="Post.Id" readonly hidden />
            <div class="form-group">
                <label asp-for="Post.Title" class="control-label"></label>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="HeaderImage">Header Image</label>
                <div>
                    <input asp-for="HeaderImage" class="form-control" accept="image/*" />
                </div>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="Post.Category" class="control-label"></label>
                <select asp-for="Post.Category"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<PostCategory>()">
                    <option>-- Select Category --</option>
                </select>
                <span asp-validation-for="Post.Category" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="Post.Description" class="control-label"></label>
                <input asp-for="Post.Description" class="form-control" />
                <span asp-validation-for="Post.Description" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="Post.Content" class="control-label"></label>
                <textarea asp-for="Post.Content" id="myEditor" class="form-control"></textarea>
                <span asp-validation-for="Post.Content" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <div class="text-muted">Publish now or save for later edits.</div>
                <label class="checkbox-container">
                    Publish now?
                    <input asp-for="Post.IsPublished" type="checkbox" data-toggle="toggle" />
                    <span class="checkmark"></span>
                </label>
            </div>
            <br />
            <input id="formSubmitBtn" class="hero-btn" type="submit" value="Update" />
        </form>
    </div>
</div>



<script>
    const formSubmitBtn = document.querySelector('#formSubmitBtn');

    formSubmitBtn.addEventListener('click', (e) => {
        setTimeout(() => {
            formSubmitBtn.disabled = true;
            formSubmitBtn.value = "Loading...";
        }, 50);
    });
</script>
