@using BlogSimple.Model.ViewModels.PostViewModels;
@model DashboardIndexViewModel;

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Post/_DashboardLayoutIndex.cshtml";
}


<main>
    @foreach (var post in Model.UserPosts)
    {
        <div hidden class="blogsData" value='@Html.Raw(Json.Serialize(post))'></div>
    }


    <div class="container-fluid px-4">
        <h1 class="mt-5">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">My Posts</li>
        </ol>
        <div id="featuredBlogHeader"></div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Post entries-->
                <div class="dashbboard-post-container" id="blogsDisplayContainer"></div>

                <!-- Pagination-->
                <div aria-label="Pagination" id="paginationNavContainer"></div>
            </div>
        </div>
    </div>
</main>

<!-- Delete Post Modal -->
<div id="deletePostModal" class="delete-post-modal">
    <span onclick="hideDeletePostModal()" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" id="deletePostModalForm" method="post">
        <div class="modal-content-container">
            <h1>Delete Post</h1>
            <p>Are you sure you want to delete your post?</p>

            <div class="modal-buttons">
                <button class="hero-btn" type="button" onclick="hideDeletePostModal()">Cancel</button>
                <button id="postDeleteBtn" class="hero-btn" type="submit">Delete</button>
            </div>
        </div>
    </form>
</div>


<script>
    const postDeleteBtn = document.querySelector('#postDeleteBtn');

    postDeleteBtn.addEventListener('click', (e) => {
        setTimeout(() => {
            postDeleteBtn.disabled = true;
            postDeleteBtn.innerHTML = "Loading...";
        }, 50);
    });
</script>

