@using BlogSimple.Model.ViewModels.PostViewModels;
@model DashboardIndexViewModel;

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Post/_DashboardLayoutIndex.cshtml";
}


<main>
    @foreach (var post in Model.UserPosts)
    {
        <div hidden class="blogsData" value='@Html.Raw(Json.Serialize(post))'></div>
    }

    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">My Posts</li>
        </ol>
        <div id="featuredBlogHeader"></div>
        <div class="row">
          <div class="col-lg-12">
            <!-- Post entries-->
                <div class="dashbboard-post-container" id="blogsDisplayContainer"></div>

            <!-- Pagination-->
            <div aria-label="Pagination" id="paginationNavContainer"></div>
          </div>
        </div>
    </div>
</main>

