<!DOCTYPE html>
<html lang="en">

<partial name="_DashboardHead" />

<body>
    <!-- Responsive navbar-->
    @await Component.InvokeAsync("Navigation")
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="loader"></div>
    <!-- Footer-->
    @await Component.InvokeAsync("Footer")


    <partial name="_DashboardScripts" />
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/detailView.js" asp-append-version="true"></script>
    <script src="~/js/loader.js" asp-append-version="true"></script>
</body>
</html>
