@using BlogSimple.Model.ViewModels.HomeViewModels;
@using Newtonsoft.Json;
@model HomeIndexViewModel;
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page content-->
<div class="container">
    <div hidden id="featuredBlog" value='@Html.Raw(Json.Serialize(Model.FeaturedBlog))'></div>
    @foreach (var blog in Model.PublishedBlogs)
    {
        <div hidden class="blogsData" value='@Html.Raw(Json.Serialize(blog))'></div>
    }
    <div hidden id="blogCategoryData" value='@Html.Raw(Json.Serialize(Enum.GetValues(typeof(BlogCategory))))'></div>
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div id="featuredBlogContainer">

            </div>

            <!-- Nested row for non-featured blog posts-->
            <div class="row" id="blogsDisplayContainer">

            </div>
            <!-- Pagination-->
            <nav aria-label="Pagination" id="paginationNavContainer">

            </nav>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" id="searchBarInput" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="searchBarBtn" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <ul class="list-unstyled mb-0" id="blogCategoryListContainer">
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>

